:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  --body-bg: #607d60;  
  --CardInfo-bg: #d2f6a0; 
  --search-orange: #ff972f; 
  
  
}

html{
 box-sizing: border-box;
}

*, * ::after, ::before{
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  border: 2px solid var(--CardInfo-bg);
}

img, svg, video{
  max-width: 100%;
  height: auto;
}



